.banner-container {
    margin-top: 130px; /* Ajusta el margen superior según sea necesario */
  }
  
  .carousel-image {
    height: 400px; /* Puedes ajustar la altura de las imágenes si es necesario */
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }
  
  .carousel-item {
    margin-bottom: 30px; /* Esto asegura que haya suficiente espacio entre los elementos del carrusel */
  }
  