@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Cambia por la fuente que desees */

.custom-navbar {
  font-family: 'Roboto', sans-serif;
}

.header-link {
  font-weight: 700; /* O el valor que desees */
  color: #f0f0f0; /* Color personalizado */
}

.header-link:hover {
  color: #d1d1d1; /* Color al pasar el cursor */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
